<!DOCTYPE html>
<html>
    <head>
        <style>
            .grid-container {
                display: grid;
                grid-template-columns: auto auto auto auto;
                background-color: #2196F3;
                padding: 10px;
            }
            .grid-item {
                background-color: rgba(255, 255, 255, 1);
                /* border: 1px solid rgba(0, 0, 0, 0.8); */
                margin: 10px;
                padding: 20px;
                font-size: 30px;
                text-align: center;
            }
            button { 
                        color: black;
                        text-align: center;
                        font-size: 14px;
                        padding: 7px 7px;
                        border: 1px solid rgb(66, 64, 64);
                        
                    }
            
                button:hover {
                    /* background-color: red; */
                    /* color: white; */
                    /* text-align: center; */
                    /* font-size: 16px; */
                    /* padding: 7px 10px; */
                    /* border: 1px solid black; */
                    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                }
        
                button.submitall{
                    margin-right: 10px;
                    height: 45px;
                    background-color: black;
                    color: white;
                }
                button.gotodisplay{
                    margin-right: 10px;
                    height: 45px;
                    background-color: rgb(108, 180, 0);
                }
        </style>
    </head>
    <body style="background-color: #d8eeff">

    <h1>DISPLAY-ROOM:</h1><h2>/{{bucketname}}</h2>

    <div style="display: flex; flex-direction: row; margin-bottom: 40px">

            <form action="/" method="post">
                <button class="gotodisplay" class="submitall" name="foo" value = "HOME" onclick="submitJob">🏠 HOME 🏠</button>
            </form>
  
            
            <form action="{{baseurl}}/show_all_videos/{{bucketname}}" method="POST">
                <button class="gotodisplay" name="display" value = "view bucket" onclick="submitJob">🗑 view bucket 🗑</button>
            </form>
            <form action="{{baseurl}}/delete-all-gif/{{bucketname}}" method="post">
                <button class="submitall" name="foo" value = "delete all GIF" onclick="submitJob">🚫❌ delete all GIF ❌🚫</button>
            </form>

    </div>

    <div class="grid-container">
        {% for ech in result %}
            <div class="grid-item">
                <img src="{{sosurl}}/{{bucketname}}/{{ech}}">
                <form action="{{baseurl}}/delete-a-gif/{{bucketname}}/{{ech}}" method="post">
                    <button clas s="submitall" style="height: auto" name="foo" value = "delete a GIF" onclick="submitJob">❌ delete ❌</button>
                </form>
            </div>
        {% endfor %}
    </div>

    </body>
</html>
