<!DOCTYPE html>
<html>
    <body style="background-color: #d8eeff">
      <h1>{{header}}</h1>
      <table >
          {% for ech in result %}
              <tr style="text-align : left; ">
                  <th><div style="margin-bottom:10px;"> 🗑 <a href= "show_all_videos/{{ ech }}">{{ ech }}</a></div></th>
              </tr>
          {% endfor %}
      </table>
   </body>
</html>