<!DOCTYPE html>
<html>
    <style>
        button { 
            color: black;
            text-align: center;
            font-size: 14px;
            padding: 7px 7px;
            border: 1px solid rgb(66, 64, 64);
            
        }

        button:hover {
            /* background-color: red; */
            /* color: white; */
            /* text-align: center; */
            /* font-size: 16px; */
            /* padding: 7px 10px; */
            /* border: 1px solid black; */
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

        button.submitall{
            height: 45px;
            background-color: lightblue;
            margin-right: 10px;
            /* color: white; */
        }
        button.gotodisplay{
            margin-right: 10px;
            height: 45px;
            background-color: rgb(108, 180, 0);
        }
    </style>
    <body style="background-color: #d8eeff">
        <h1>SHOW ALL MP4 FILES:</h1><h2>/{{bucketname}}</h2>
        <div style="display: flex; flex-direction: row; margin-bottom: 40px">
            <form action="/" method="post">
                <button class="gotodisplay" class="submitall" name="foo" value = "HOME" onclick="submitJob">🏠 HOME 🏠</button>
            </form>
            
            <form action="{{baseurl}}/display-room/{{bucketname}}" method="post">
                <button class="gotodisplay" name="display" value = "go to display GIF room" onclick="submitJob">👀 go to display GIF room 👀</button>
            </form>
            <form action="{{baseurl}}/submit-all/{{bucketname}}" method="post">
                <button class="submitall" name="foo" value = "change all to GIF" onclick="submitJob">⭕️ change all to GIF ⭕️</button>
            </form>


        </div>
        <p style="color:red"> **once you press the button it is done don't click it repeatedly please thankyou!</p>
        <table >
            {% for ech in result %}
                <tr style="text-align : left; margin-bottom: 20px">
                    <th>{{ech}}</th>
                    <th>
                        <form style="padding-bottom: 10px;padding-top: 10px;" action="{{baseurl}}/submit/{{bucketname}}/{{ech}}" method="post" name="Button_{{ech}}">
                            <button class="submitall" name="foo" value = "change to GIF">✂️ change to GIF ✂️</button>
                        </form>
                    </th>
                </tr>
            {% endfor %}
        </table>
   </body>
</html>